root {
    display: block;
}

.root {
    -fx-background-color: #EEEEEE;
    -fx-font-family: "HP Simplified";
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #003262;
}

#title {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-fill: #818181;
}

#phrase {
    -fx-font-size: 20px;
    -fx-font-weight: normal;
    -fx-fill: #818181;
}

#message {
    -fx-font-size: 16px;
    max-width: 600px;
}

.button {
    -fx-padding: 5px 5px 5px 5px;
    -fx-margin: 5px 5px 5px 5px;
    -fx-text-fill: #EEEEEE;
    -fx-font-family: "HP Simplified";
    -fx-font-weight: normal;
    -fx-background-color: #003A70;
}

.button.mapped {
    -fx-background-color: #3B7EA1;
}

.num > .button {
    -fx-background-color: #CC9712;
}

.button:pressed, .button.pressed {
    -fx-background-color: #74BBED;
}

.num > .button:pressed, .num > .button.pressed {
     -fx-background-color: #FFBD17;
}